@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Skateboarding Intro
    </h1>
    <h2>You too can be like Kick Buttowski</h2>

    <img src="~/kick-buttowski.jpg"/>
    <img src="~/tony-hawk.jpg"/>

    <p>
        Welcome to my site about skateboarding. What is skateboarding really? How is it different than skiiing? Fundamentally, it isn't. I mean, think about it, you're just sliding on a board or two. Think about that.
    </p>

    <p>
        Am I the new Tony Hawk? Some say that. I don't, but some say that. At heart, I really am close to Kick Buttowski.
    </p>
    <p>
        If you want to learn how to skateboard, check out the calculator tab at the top to see how much it will cost you to get started.
    </p>

</div>
